.hashtags{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.hashtag{
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: #FFFFFF;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.tags{
    color: var(--gray)
}